*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --backgroundMain: #EDE2D4;
    --backGroundDialog: #F3ECE2;
    --font: #503A2B;
    --fontOpacity: rgba(80, 58, 43, 0.8);
    --backGroundBtn: #D4BFB0;
    --player-red: #CA3C25;
    --player-blue: #1C435F;
}

[data-theme='dark'] {
    --backgroundMain: #121212;
    --backGroundDialog: #535353;
    --font: #1db954;
    --fontOpacity: rgba(29, 185, 84, 0.8);
    --backGroundBtn: #212121;
    --player-red: #F45B69;
    --player-blue: #7EBCE6;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin: 0;
    background-color: var(--backgroundMain);
    font-size: clamp(1.5rem, 4.5vw, 4rem);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: calc(var(--vh, 1vh) * 10);
    position: relative;
}

header > h1 {
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(3rem, 15vw, 12rem);
    color: var(--font);
}

header > button {
    position: absolute;
    right: 2vw;
    height: 6vh;
    width: clamp(1rem, 10vw, 6rem);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(10%);
    font-size: clamp(2rem, 7.5vw, 3.75rem);
    padding: 0;
}

.displayContainer {
    height: calc(var(--vh, 1vh) * 10);
    display: flex;
    justify-content: space-around;
    align-items: end;
    max-width: 1500px;
}

.displayDiv {
    background-color: var(--backGroundBtn);
    color: var(--font);
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    border: 1px solid var(--font);
    opacity: 0.95;
}

#gameBoard {
    font-size: 6rem;
    margin: 10vh 5vh 7.5vh 5vh;
    height: calc(var(--vh, 1vh) * 50);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.75vh;
    text-align: center;
    background-color: var(--font);
    max-width: 1200px;
}

#gameBoard>* {
    background-color: var(--backgroundMain);
    display: flex;
    justify-content: center;
    align-items: center;
}

:hover#gameBoard>* {
    cursor: pointer;
}

button {
    font-size: 2rem;
    font-weight: 600;
    background-color: var(--backGroundBtn);
    color: var(--font);
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    border: 1px solid var(--font);
    font-size: clamp(1.75rem, 6vw, 6rem);
    cursor: pointer;
}

#resetBtnContainer {
    height: calc(var(--vh, 1vh) * 12.5);
    align-items: start;
}

.playerSymbol {
    font-weight: 600;
}

.playerRed {
    color: var(--player-red);
}

.playerBlue {
    color: var(--player-blue);
}

.currentPlayer {
    will-change: transform, box-shadow;
    box-shadow: 1px 2px 2px var(--fontOpacity);
    opacity: 1;
    transition: box-shadow 300ms ease;
    transform: translateY(-1px);
}

#winnerDialog {
    opacity: 1;
    border-width: 4px;
    z-index: 1;
    background-color: var(--backGroundDialog);
    width: 75vw;
    margin-top: 12vh;
    font-size: 3.8vw;
}

.dialogShow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: var(--backGroundBtn);
    height: 5vh;
}

footer > button {
    background-color: var(--backgroundMain);
    height: 2.5vh;
    font-size: 2vh;
}

@media (min-width: 1365px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        min-width: 100vw;
    }

    .displayContainer {
        min-width: 100vw;
    }

    #gameBoard {
        min-width: 50vw;
    }
}

@media (orientation: landscape) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        min-width: 100vw;
    }

    header > h1 {
        font-size: clamp(4rem, 13vh, 15rem);
    }

    .displayContainer {
        min-width: 100vw;
        font-size: clamp(2rem, 4.5vh, 12rem);
    }

    #resetBtn {
        font-size: clamp(2rem, 6vh, 12rem);
    }

    #playerDisplay {
        margin: 3vh 0 0 0;
    }

    #gameBoard {
        width: 50vw;
        margin: 8vh 5vh 6.5vh 5vh;
        font-size: clamp(2rem, 8.5vw, 10rem);
    }

    #winnerDialog {
        width: 60vw;
        font-size: clamp(2rem, 3vw, 3.5rem);
    }



    #winnerDialog>button {
        width: 30vw;
        font-size: clamp(1.5rem, 3vw, 3rem);
    }
}