body {
    background-color: black;
    color: aliceblue;
    font-size: 3rem;
}

#gameBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}