/* 
#3E5879 light naivi blauw
#213555 naivi blauw
#CA3C25 chili rood
*/

*, *::before, *::after {
    box-sizing: border-box;
}
  
:root {
    --primary-light: #EDE2D4;
    --primary-dark: #503A2B;
    --primary-soft: #D4BFB0;
    --player-red: #CA3C25;
    --player-blue: #1C435F;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin: 0;
    background-color: var(--primary-light);
}

#header {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    text-align: center;
    color: var(--primary-dark);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: calc(var(--vh, 1vh) * 10);
}

.displayContainer {
    height: calc(var(--vh, 1vh) * 10);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.displayDiv {
    background-color: var(--primary-soft);
    color: var(--primary-dark);
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
}

#gameBoard {
    font-size: 6rem;
    margin: 10vh 5vh 7.5vh 5vh;
    height: calc(var(--vh, 1vh) * 50);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.75vh;
    text-align: center;
    background-color: var(--primary-dark);

}

#gameBoard>* {
    background-color: var(--primary-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 2rem;
    font-weight: 600;
}

#resetBtnContainer {
    height: calc(var(--vh, 1vh) * 12.5);
    align-items: start;
}

.playerSymbol {
    font-weight: 600;
}

.playerRed {
    color: var(--player-red);
}

.playerBlue {
    color: var(--player-blue);
}